dist: trusty
sudo: false
group: beta
language: node_js
node_js:
  - "8"

cache:
  directories:
    - node_modules

jobs:
  # XXX fast_finish doesn't work with stages yet. See
  # https://github.com/travis-ci/travis-ci/issues/8425
  # --elopio - 20180531
  fast_finish: true
  include:
    - stage: tests
      name: "unit tests"
      script: yarn run test
    # solidity and javascript style tests.
    - stage: tests
      name: "static tests"
      script: yarn run lint